body
{
	margin: 0px;
}

.part1{
	height: 100%;
	width: 100%;
	position: relative;
}
#myVideo
{
	width: 100%;
    height: 100%;
}
#myVideo2
{
     display: none;
     width: 100%;
}
.nav-link
{    
	backface-visibility: hidden;
    position: absolute;
    top:0px;
}
.nav-bar{
	position: fixed;
    margin-left: 95px;
    width: 60px;
	height:70px;
	background-color: white;
}
.nav-img
{  position: fixed;
   width: 95px;
   height:95px;
    display: inline;
}
.nav-bar1
{
	height: 3px;
	background-color: black;
	width: 15px;
	margin-top: 22px;
	margin-left: 15px;
}
.nav-bar2
{
	height: 3px;
	background-color: black;
	width: 30px;
	margin-top: 6px;
	margin-left: 15px;
}
.nav-bar3
{
	height: 3px;
	background-color: black;
	width: 15px;
	margin-top: 6px;
	margin-left: 15px;
}
.part2{
       position: absolute;
       top: 8%;
       text-align: center;
       width: 100%;
}
.main-text
{
	margin-top: 8%;
    
}
.main-txt
{
	color: white;
    margin-top: 8%;
	backface-visibility: hidden;
}
.main-txt1
{
	font-size: 15px;
	letter-spacing: 3px;
	font-family: monospace;
}
.main-txt2
{
	font-family: FreeMono, monospace;
	font-size: 55px;
	margin-top: 1.5%;
}
.circle
{
	background-color: white;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	backface-visibility: hidden;
    opacity: 0.3;
   margin-left: 47%;
    margin-top: 8%; 
    position: relative;   
}
.circle-txt
{   
	position: absolute;
	margin: 0%;
	top:38px;
	left: 17px; 
}
.scroll
{   position: static;
	backface-visibility: hidden;
	font-weight: 100;
}
.line
{  
	width: 0.05vw;
	height: 7vh;
	background-color: white;

}
.scroll-txt
{
	font-size: 13px;
	color: white;
	letter-spacing: 2px;
}
.images-cont1
{   
   backface-visibility: hidden;
   width: 100%;

   
}
.color-changer
{
    width: 40%;
    height: 700px;
    animation: change 30s infinite;
   
    display: inline-block;
      position: relative;
}

.image2
{  display: inline-block;  
	margin-left: -0.27%;
	margin-bottom: -3%;
	width: 40%;
	height: 700px;
}
.image-txt
{   width: 180%;
    font-size: 32px;
    position: absolute;
   top: 14%;
   left: 7%;
   backface-visibility: hidden; 
   color:#ccc4d4;
   	font-family: FreeMono, monospace;
   	font-weight: 100;
   	letter-spacing: 2px;
} 
.img-txt
{    	text-align: center;
	margin-top: 15%;
}

.video-section
{
   

}
.Menu
{   
    display: none;
	color: white;
	background-color: black;
	width: 100%;
	height: 100vh;
	text-align: center;
	animation: menuchange .7s ;
}
.Menu h3 {
     margin:0%; 
	font-size: 55px;
   
}
.menu-txt1
{
	padding-top:13%;
	padding-right: 56%; 
}
.menu-txt2
{
	padding-top:1.4%;
	padding-right: 49%; 
}
.menu-txt3
{
	padding-top:1.4%;
	padding-right: 44%; 
}
.menu-txt4
{
	padding-top:1.4%;
	padding-right: 49%; 
}
.menu-txt5
{
	padding-top:1.4%;
	padding-right: 53%; 
}
.socialize-content
{
	margin-top: -30%;
	margin-left: 60%;
}

.Sc-txt1
{    
	letter-spacing: 3.5px;
	font-size: 13px;
	color:#ECF0F1;
}
.Sc-txt2
{   
	margin-top: 3%;

    letter-spacing: 2px;
	font-size: 12.5px;
	font-weight: 800;
	display: block;	
	text-decoration: none;
	color:white;
}
.Sc-txt3
{
    letter-spacing: 2px;
	font-size: 12.5px;
	
	font-weight: 800;
	display: block;	
	margin-top: 1%;
	text-decoration: none;
	color: white;
}
.Sc-txt4
{
    letter-spacing: 2px;
	font-size: 12.5px;
		font-weight: 800;	
	display:block;
	margin-top: 1%;
	text-decoration: none;
	color: white;
}
.Sc-txt5
{
    letter-spacing: 2px;
	font-size: 12.5px;
	
			font-weight: 800;
			display: block;
			margin-top: 1%;
			text-decoration: none;
			color: white;
}
.hello
{
	margin-top: 10%;
	margin-left: 60%;
}
.say
{
	letter-spacing: 3.5px;
	font-size: 13px;
	color:#f5f5f0;
}
.name
{
	margin-top: 3%;
    letter-spacing: 2px;
	font-size: 12.5px;
	font-weight: 800;
	color:white;
}
.mail
{

    letter-spacing: 2px;
	font-size: 12.5px;
	font-weight: 800;
	color:white;
}

.landing-txt
{
	padding: 220px 15% 120px 15%;

}
.heading
{   
	padding-top: 50px;

}
.heading h3
{
	font-size: 40px;
	margin-top: 15px;
	margin-bottom: 33px;
	font-family: MajestiBanner-Medium,serif;
	letter-spacing: 1px;
}
.heading h5
{
	color: #9f8f68;
	font-size: 15px;
	letter-spacing: 1px;
}
.brief-txt
{   
	text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    color:#898989;
    font-size: 17px;
    line-height: 22px;
    font-weight: 100;

}
@keyframes change{
	0%{background-color:#fff2e6 }
	10%{background-color: #ffe6cc }
	20%{background-color:#ffd9b3 }
	30%{background-color:#f5f5f0}
	40%{background-color:#f6f6ee }
	50%{background-color:#eeeedd }
	60%{background-color:#deede9 }
	70%{background-color:#ddeeea}
	85%{background-color:#dbf0eb}
	100%{background-color: #daf1eb}
}
@keyframes menuchange {
  from {
  	height: 0%;
  	width: 0%;
 
  }
  to {
  	height: 100%;
     width: 100%;
  }
}
@keyframes changemenu {
    from {
  	height: 100vh;
     width: 100%;
  }
  to {
  	height: 0vh;
  	width: 0%;
 
  }
}
@media only screen and (max-width: 1100px)
{
     #myVideo
     {
     	display: none;
     }
     #myVideo2
     {
     	display: inline-block;
     	width: 100%;
     }
     .nav-bar
     {
     	width: 80px;
     	height: 90px;
     	margin-left: 134.8px;
     }
     .nav-img
     {
     	width: 135px;
     	height: 135px;
     }
     .nav-bar1
     {
     	margin-top: 27px;
     	margin-left: 20px;
     }
     .nav-bar2
     {
     	margin-left: 20px;
     }
     .nav-bar3
     {
     	margin-left: 20px;
     }
     .socialize-content
     {
         display: none;
     }
     .hello
     {
     	display: none;
     }
     .Menu h3
     {

     }
 .part2{
       top: 17%;
   }
.main-text
{
	margin-top: 17%;
 }
 .main-txt
{
    margin-top:17%; 
}
.main-txt1
{
	font-size: 23px;
	letter-spacing: 3px;
}
.main-txt2
{
	font-size: 55px;
   
}
.scroll
{
	display: none;
    
}
.images-cont1
{
	margin-top: 19%;
	margin-left: 0%;
	margin-right: 0%;
}
.color-changer
{    margin-top: 19%;
    width: 50%;
    margin-left: 0%;
    margin-left: -0.2%;
}
.image2
{   margin-bottom: -5%;
    width: 50%;
    margin-left: -0.52%;
}
}

@media only screen and (max-width: 730px)
{
    .image2
{   
    width: 50%;
    margin-left: -0.66%;
}
}
@media only screen and (max-width: 610px)
{ .main-text
{
	margin-top: 22%;
 }
 .main-txt
{
    margin-top:22%; 
}  
  .main-txt1
{
	font-size:13px;
	
}
.main-txt2
{
	font-size: 23px;	
} 
.circle
{
	margin-left: 38%;
}
.Menu h3 { 
	font-size: 33px;
   width: 100%;
   text-align: center;
   line-height: 70px;
} 
.Menu-cont
{
	margin-top: 20%;
}
.Menu-container
{
	margin-top: 20%;
}
.images-cont1
{
	margin-top: 28%;
	margin-left: 0%;
	margin-right: 0%;
}
.color-changer
{    margin-top: 28%;
    width: 50%;
    margin-left: 0%;
    margin-left: -0.2%;
    height: 500px;
}
    .image2
{   
    width: 50%;
    margin-left: -0.76%;
    height: 500px;
    margin-bottom: -9%;
}
.image-txt
{
	font-size: 19px;
}
.nav-img
{
	width: 70px;
	height: 70px;

}
.nav-bar
{
	width: 45px;
    height: 55px;
    margin-left: 70px;
    border:1px solid lightblue;
}
.nav-bar1
{
	width: 15px;
	margin-top: 15px;
	margin-left: 8px;
}
.nav-bar2
{
	height: 3px;
	background-color: black;
	width: 30px;
	margin-top: 6px;
	margin-left: 8px;
}
.nav-bar3
{
	height: 3px;
	background-color: black;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
}
.landing-txt
{
	padding-top: 180px;
	padding-left: 10%;
	padding-right: 10%;
}
.heading h3
{
	font-size:22px; 
	margin-bottom: 25px;
	margin-top: 20px;
}
.heading h5
{
	font-size: 11px;
}
.brief-txt
{
	font-size: 16px;
    letter-spacing: 1px;
}
}
@media only screen and (max-width: 417px)
{   .images-cont1
{
	margin-top: 32%;
	margin-left: 0%;
	margin-right: 0%;
}

	.color-changer
	{
       height: 450px;
	}
  .image2
{  
    width: 50%;
    margin-left: -0.86%;
    height: 450px;
}
.image-txt
{    
	top:20%;
}
}
@media only screen and (max-width: 383px)
{  .images-cont1
{
	margin-top: 24%;
	margin-left: 0%;
	margin-right: 0%;
}
.color-changer
{
	height: 380px;
}

  .image2
{   
    width: 50%;
    margin-left: -1.16%;
    height: 380px;

}
}
@media only screen and (max-width: 343px)
{    
	.main-txt2
{
	font-size: 22px;
	
} 
	.color-changer
	{
		height: 350px;
	}
  .image2
{   
    margin-left: -1.26%;
    height: 350px;

}

}
@media only screen and (max-width: 316px)
{   
	
	 .image2
	
{   
    margin-left: -1.36%;

}
}
@media only screen and (max-width: 286px)
{    
	.main-txt1
	  {
	  	font-size: 7px;
	  }
      .main-txt2
      {
          font-size: 15px; 	
      }

     .image-txt
     {
     	font-size: 15px;
     }
 .color-changer
	{
		height: 300px;
	}
	.image2{
		height:300px;
	}
	.images-cont1
{
	margin-top: 5%;

}
}
@media only screen and (max-width: 257px)
{
	 .image2
{   
    margin-left: -1.56%;

}
}
@media only screen and (max-width: 227px)
{    .main-txt1
	  {
	  	font-size: 7px;
	  }
      .main-txt2
      {
          font-size: 13px; 	
      }

 .circle
	{
		height: 65px;
		width: 65px;
    
    }
    .circle-txt
    {
    	font-size: 10px;
        top: 40%;

      }
	 .image2
{   
    margin-left: -1.86%;

}
}
@media only screen and (max-width: 193px)
{
		 .image2
{   
    display: none;

}
     .color-changer
     {
     	width: 100%;
     }
     .image-txt
     {    width: 100%;
     	top: 14%;
     	left:0%;
     }
     .img-txt
     {
     	margin-top: 14%;
     }
}