body{
	margin:0px;  
}
.part1{
	
}
#myVideo
{  
width: 100%;
height: 100%
z-index:-1;
}
#myVideo2
{
	display: none;
}
.nav-bar
{    
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
}
.nav-loc
{  
	background: white;
	height: 60px;
	width: 50px;
	opacity: 0.8;
	margin-top: 5px;
	margin-left: 5px;
}
.nav-loc1
{
	width:15px;
	height: 3px;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	top: 23px;
	left: 15px;
}
.nav-loc2
{   
	width:30px;
	height: 3px;
	background: black;
	position: absolute;
	top: 33px;
	left: 15px;
	opacity: 0.8;
}
.nav-loc3
{   
	width:15px;
	height: 3px;
	background: black;
	position: absolute;
	top: 43px;
	left: 15px;
	opacity: 0.8;
}
.Menu-content{
	text-align: center;
     display: none;
}
.txt-menu1{
    margin-top:120px;
}
.txt-menu2{
    margin-top:70px;
}
.txt-menu3{
    margin-top:70px;
}
.txt-menu4{
    margin-top:70px;
}
.txt-menu5{
    margin-top:70px;
}
.colour-changer
{
	height: 650px;
	width: 620px;
	animation: change 30s infinite;
}
.second-vid{
	position: absolute;
	top: 420px;
	left: 150px;

}
.txt1{
    position: absolute;
     
}
.txt2
{
	position: absolute;
}
.circle
{   width: 90px;
	height: 90px;
	background: white;
	border-radius: 50%;
	border-color: white;
	border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0,0.9);
	opacity: 0.2;
	margin-left: 350px;
	margin-bottom: 30px;
}
.txt2{
	padding-top: 22px;
	padding-left: 13px;
	opacity: 0.9;
	font-family: TradeGothicLTStd-BdCn20,sans-serif;
}
.txt4{
	position: absolute;
}
.line
{
	height:60px;
	width:1.7px;
	background: white;
	margin-top: 0px;
	margin-left: 398px;
}
@keyframes change{
	0%{background-color:#fff2e6 }
	10%{background-color: #ffe6cc }
	20%{background-color:#ffd9b3 }
	30%{background-color:#f5f5f0}
	40%{background-color:#f6f6ee }
	50%{background-color:#eeeedd }
	60%{background-color:#deede9 }
	70%{background-color:#ddeeea}
		85%{background-color:#dbf0eb}
	100%{background-color: #daf1eb}
	
	

}
@media only screen and (max-width:1024px)
{
	#myVideo
	{
		display: none;
	}
	#myVideo2
	{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	.second-vid{
	position: absolute;
	top: 380px;
	left: 0px;
	
     }
     .colour-changer
     {	height: 400px;
     	width: 190px;
	    
     }
     .circle
     {
     	margin-top: 0px;
     	margin-left: 138px;
     }
     .line
     {
     	margin-left: 188.5px;
     	margin-top: 0px;
     }
     .txt2
     {   padding-top: 20px;
     	padding-left: 25px;
     }
     /* .txt1
     {
        margin-top: 240px;
        margin-left: 78px;
        font-family:Courier New;
     }
      .txt3{position: absolute;
      	  top: 435px;
         left: 90px;
      	font-family:Courier New;
      }*/
       .image2
       {
       	height: 400px;
     	width: 185px;
	    position: absolute;
	    top: 287px;
	    left: 170px;
       }
  }